<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>Oliver</title>
    </head>
    <body>
    <ul>
        {{#each imageNames }}
            <img src="/images/{{this}}" alt="">
        {{/each }}
    </ul>
    </body>
</html>